body {
    background-image: url("../img/game_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }




  .navbar {
    display: flex;
    background: #555555;
    margin: 0% 0% 2rem 0%;
    padding: 0rem 3rem;
}

.navbar .nav-item {
    display: block;
    padding: 1.2rem 1.5rem;
}

.navbar .nav-item:hover {
    background: #3C434B;
    cursor: pointer;
}

.navbar .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.active {
    background: #3C434B;
   
}





.game-container {
  text-align: center;
}

.menu {
  background: rgba(0, 0, 0, 0.082);
  margin: 2rem 9rem 15rem 9rem;
  padding: 9rem 9rem 20rem 9rem;
}

#tutorial h3 {
  color: white;
  margin-bottom: 2rem;
}

.btn {
  padding: 1.5rem 5rem;
  font-weight: 600;
  background: #3C434B;
  border: none;
  border-radius: 3rem;
  color: white;
  font-size: 1.5rem;
}

.btn:hover {
  cursor: pointer;
  background: #3C434B;
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

.btn:focus {
  outline: none;
}

#board {
  margin: 15rem 9rem 19rem 9rem;
  padding: 1rem;
  text-align: center;
}

#board p {
  background-image: none;
}

.poker {
  border-radius: 15px;
  min-width: 272px;
  min-height: 395px;
  margin: 1rem;
  background-repeat: round;
}

.poker:focus {
  outline: none;
}

.diamantes {
  background-image: url("../img/diamantes1.jpg");
  background-size: cover;
}

.picas {
  background-image: url("../img/picas1.jpg");
  background-size: cover;
}

.anverso {
  background-image: url("../img/anverso.png");
}

.play-again {
  display: block;
  background: #3C434B;
  margin: auto;
  width: 50%
}

.hidden {
  display: none;
}