body {
    background-image: url("../img/Background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #game_background{
    background-image: url("../img/game_background.jpg");
     background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

  h1 {
    color: #CB62FF;
    size: "5";
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  p {
    color: #FFFFFF;
    size: "5";
    text-align: center;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  table {
    border: 4px solid #555555;
    background-color: #555555;
    width: 850px;
    text-align: center;
    border-collapse: collapse;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  table td, table th {
    border: 1px solid #555555;
    padding: 10px 20px;
  }
  table tbody td {
    font-size: 15px;
    font-weight: lighter;
    color: #FFFFFF;
  }
  table td:nth-child(even) {
    background: #398AA4;
  }
  table thead {
    background: #398AA4;
    border-bottom: 20px solid #398AA4;
  }
  table thead th {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: right;
    border-left: 15px solid #398AA4;
  }
  table thead th:first-child {
    border-left: none;
  }
  
  table tfoot td {
    font-size: 13px;
  }
  table tfoot .links {
    text-align: right;
  }
  table tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #398AA4;
    padding: 2px 8px;
    border-radius: 5px;
  }

  .navbar {
    display: flex;
    background: #555555;
    margin: 0% 0% 2rem 0%;
    padding: 0rem 3rem;
}

.navbar .nav-item {
    display: block;
    padding: 1.2rem 1.5rem;
}

.navbar .nav-item:hover {
    background: #3C434B;
    cursor: pointer;
}

.navbar .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.active {
    background: #3C434B;
   
}





